- title @team.html_title

.page-header
  = link_to teams_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1
    Team:
    = best_in_place @team, :name


.col-sm-6
  =render 'teams/projects/show_projects'
.col-sm-6
  =render 'teams/members/show_members'

