- provide :title, @team.name

.page-header
  = link_to teams_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_team_path(@team), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 team: #{@team.name}


.col-sm-6
  =render 'teams/members/show_members'

